html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.action-buttons {
    display: flex;
    gap: 10px; 
}

.action-buttons button {
    flex: 1;
    width: 100%;
    max-width: 150px; 
}

/*.home-background {
    background-image: url('../assets/img/oip.jpeg');*/ /* Ruta de la imagen */
    /*background-size: cover;*/ /* Ajusta la imagen para cubrir todo el contenedor */
    /*background-position: center;*/ /* Centra la imagen */
    /*background-repeat: no-repeat;*/ /* Evita que la imagen se repita */
    /*height: 100vh;*/ /* Hace que el contenedor ocupe toda la altura de la ventana */
    /*width: 100%;*/ /* Asegura que ocupe todo el ancho */
    /*color: white;*/ /* Cambia el color del texto para que contraste */
    /*display: flex;*/ /* Para centrar contenido (opcional) */
    /*justify-content: center;*/ /* Centrar horizontalmente */
    /*align-items: center;*/ /* Centrar verticalmente */
    /*text-align: center;*/ /* Centrar texto */
/*}*/