@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center home-background">
    <h1 class="display-1">Bienvenido</h1>
    <p class="mt-5">Conozca más sobre <a href="https://learn.microsoft.com/aspnet/core">Construir aplicaciones web con ASP.NET Core</a>.</p>
</div>
