<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

    

        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="Tasks" asp-action="Index">
                <i class="bi bi-book"></i>
                <span>Lista de Tareas</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="Tip" asp-action="Index">
                <i class="bi bi-calculator"></i>
                <span>Calculadora de Propinas</span>
            </a>
        </li>

       @*  <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="Password" asp-action="Index">
                <i class="bi bi-key"></i>
                <span>Generador de Contraseñas</span>
            </a>
        </li> *@

        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="Expense" asp-action="Index">
                <i class="bi bi-cash-coin"></i>
                <span>Control de Gastos</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="Reservation" asp-action="Index">
                <i class="ri-hotel-bed-line"></i>
                <span>Generador de Reservas</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="Note" asp-action="Index">
                <i class="bi bi-paperclip"></i>
                <span>Gestor de Notas</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="Event" asp-action="Index">
                <i class="bi bi-calendar-date"></i>
                <span>Calendario de Eventos</span>
            </a>
        </li>
        

    </ul>

</aside><!-- End Sidebar-->